before_build:
  - cmd: nuget restore
os: Visual Studio 2015
clone_folder: C:\projects\TrustedTimestamps
configuration:
  - Release
version: "1.0.{build}"
init:
- ps: >-
    if($env:APPVEYOR_REPO_TAG -eq $True) {
    	$version = ([regex]::Match($env:APPVEYOR_REPO_TAG_NAME, 'v([0-9]+[.][0-9]+[.][0-9]+)')).Groups[1].Value
    	Update-AppveyorBuild -Version "$version"
    }
build:
  project: C:\projects\TrustedTimestamps\Timestamp.sln
after_build:
  - cmd: 7z a TrustedTimestamps.zip C:\projects\TrustedTimestamps\TimestampConsole\bin\Release\BouncyCastle.Crypto.dll
  - cmd: 7z a TrustedTimestamps.zip C:\projects\TrustedTimestamps\TimestampConsole\bin\Release\Pit.Labs.Timestamp.dll
  - cmd: 7z a TrustedTimestamps.zip C:\projects\TrustedTimestamps\TimestampConsole\bin\Release\ts.exe
  - cmd: nuget pack C:\projects\TrustedTimestamps\Timestamp\Timestamp.csproj -version 1.0.1 -suffix alpha
test_script:
  - cmd: nunit3-console "C:\projects\TrustedTimestamps\TimestampTest\bin\Release\TimestampTest.dll" --result=myresults.xml;format=AppVeyor --work=C:\projects\TrustedTimestamps\TimestampTest\bin\Release
artifacts:
  - path: TrustedTimestamps.zip
  - path: Pit.Labs.Timestamp.1.0.1-alpha.nupkg
deploy:
  - provider: GitHub
    tag: $(appveyor_repo_tag_name)
    release: TrustedTimestamps $(appveyor_repo_tag_name)
    auth_token:
      secure: ZLNvrKmBHdf0ycpetV17W5GTWeP5pW65hgccBay9LkMf8g7GJzFVHFB+nNbV2Tvg
    artifact: TrustedTimestamps.zip
    on:
      appveyor_repo_tag_name: /v([0-9]+[.][0-9]+[.][0-9]+)/
  
  - provider: NuGet
    api_key:
      secure: ITluHOenbul4b2YuIX/U9YZ3OQQzeApEApknPPxjODHiZC2ra8CggWJ7LjfvaoLL
    artifact: Pit.Labs.Timestamp.1.0.0.nupkg
    #on:
      #appveyor_repo_tag_name: /v([0-9]+[.][0-9]+[.][0-9]+)/